@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-hamburger {
  @include square(24);
  @include flex-center;
  overflow: hidden;
}

.btn-submit {
  @include setBgColor($primary, $white);
  @include radius(8);
  font-size: size(16);
  font-weight: 700;
  padding: size(12) size(8);
  text-align: center;

  @include hover {
    @include setBgColor($danger, $white);
  }
}

.btn-resend {
  color: $primary;
  font-size: size(12);
  font-weight: 600;
  text-transform: uppercase;

  @include hover {
    color: $danger;
  }
}

.btn-main {
  background: $white;
  @include flex-center-vert;
  // @include border(solid, 1, $primary);
  -webkit-box-shadow: inset 0px 0px 0px 1px $primary;
  -moz-box-shadow: inset 0px 0px 0px 1px $primary;
  box-shadow: inset 0px 0px 0px 1px $primary;
  @include radius(8);

  .leftinfo {
    position: relative;
    width: size(49);
    z-index: 1;

    .arrshape {
      position: relative;
      width: size(49);
      z-index: 1;
    }

    .usericon,
    .circleicon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      @include square(24);
      @include flex-center;
      overflow: hidden;
      z-index: 10;
    }
  }

  .rightinfo {
    color: $primary;
    font-size: size(14);
    font-weight: 700;
    width: calc(100% - size(49));
    padding-inline: size(10);
  }

  @include hover {
    background: $primary;

    .leftinfo {
      padding: size(1);
      .arrshape {
        svg {
          path {
            fill: $white;
          }
        }
      }

      .usericon {
        svg {
          path {
            stroke: $primary;
          }
        }
      }

      .circleicon {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }

    .rightinfo {
      color: $white;
    }
  }
}

.btn-main-reverse {
  background: $primary;
  @include flex-center-vert;
  @include border(solid, 1, $primary);
  @include radius(8);

  .leftinfo {
    position: relative;
    width: size(49);
    z-index: 1;

    .arrshape {
      position: relative;
      width: size(49);
      z-index: 1;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      @include square(24);
      @include flex-center;
      overflow: hidden;
      z-index: 10;
    }
  }

  .rightinfo {
    color: $white;
    font-size: size(14);
    font-weight: 700;
    width: calc(100% - size(49));
    padding-inline: size(10);
  }

  @include hover {
    background: $white;

    .leftinfo {
      .arrshape {
        svg {
          path {
            fill: $primary;
          }
        }
      }

      .icon {
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }

    .rightinfo {
      color: $primary;
    }
  }
}

.btn-cart {
  background: $white;
  @include flex-center-vert;
  // @include border(solid, 1, $primary);
  -webkit-box-shadow: inset 0px 0px 0px 1px $primary;
  -moz-box-shadow: inset 0px 0px 0px 1px $primary;
  box-shadow: inset 0px 0px 0px 1px $primary;
  @include radius(8);

  .leftinfo {
    position: relative;
    width: size(38);
    z-index: 1;

    .arrshape {
      position: relative;
      width: size(38);
      z-index: 1;
    }

    .btnicon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      @include square(24);
      @include flex-center;
      overflow: hidden;
      z-index: 10;
    }
  }

  .rightinfo {
    color: $primary;
    font-size: size(12);
    font-weight: 700;
    width: calc(100% - size(38));
    padding-inline: size(10);

    @include breakpoint(tab992) {
      font-size: size(10);
    }
  }

  @include hover {
    background: $primary;

    .leftinfo {
      .arrshape {
        svg {
          path {
            fill: $white;
          }
        }
      }

      .btnicon {
        svg {
          path {
            stroke: $primary;
          }
        }
      }
    }

    .rightinfo {
      color: $white;
    }
  }
}

.btn-buy {
  background: $primary;
  @include flex-center-vert;
  // @include border(solid, 1, $primary);
  -webkit-box-shadow: inset 0px 0px 0px 1px $primary;
  -moz-box-shadow: inset 0px 0px 0px 1px $primary;
  box-shadow: inset 0px 0px 0px 1px $primary;
  @include radius(8);
  overflow: hidden;

  .leftinfo {
    position: relative;
    width: size(38);
    z-index: 1;

    .arrshape {
      position: relative;
      width: size(38);
      z-index: 1;
    }

    .btnicon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      @include square(24);
      @include flex-center;
      overflow: hidden;
      z-index: 10;
    }
  }

  .rightinfo {
    color: $white;
    font-size: size(12);
    font-weight: 700;
    width: calc(100% - size(38));
    padding-inline: size(10);

    @include breakpoint(tab992) {
      font-size: size(10);
    }
  }

  @include hover {
    background: $white;

    .leftinfo {
      .arrshape {
        svg {
          path {
            fill: $primary;
          }
        }
      }

      .btnicon {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    .rightinfo {
      color: $primary;
    }
  }
}

.customercare {
  @include flex-center-vert;
  gap: size(5);

  .careicon {
    @include square(24);
    @include flex-center;
    overflow: hidden;
  }

  .caretext {
    color: $bg-color-dark;
    font-size: size(14);
    font-weight: 600;
  }

  @include hover {
    .caretext {
      color: $primary;
    }
  }
}

.btn-wishlist {
  @include flex-center-vert;
  gap: size(4);

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $textplaceholder;
    font-size: size(12);
  }

  @include hover {
    .icon {
      svg {
        path {
          fill: $primary;
          stroke: $primary;
        }
      }
    }

    .text {
      color: $primary;
    }
  }
}

.btn-remove {
  @include square(24);
  @include circle;
  @include flex-center;
  overflow: hidden;
  margin-inline: auto;

  @include hover {
    svg {
      path {
        fill: $primary;
      }
    }
  }
}

.btn-apply {
  color: $textprice;
  font-family: $inter;
  font-size: size(14);
  font-weight: 600;
  @include transitionscolor;

  @include hover {
    color: $secondetitle;
  }
}

.btn-clear {
  @include square(24);
  @include flex-center;

  svg {
    @include transitionsall;

    path {
      @include transitionsall;
    }
  }

  @include hover {
    svg {
      @include rotate(90);

      path {
        stroke: $primary;
      }
    }
  }
}

.btn-seemore {
  @include flex-center-vert;
  gap: size(8);

  .text {
    color: $lightmoodtext;
    font-family: $kohinoorbangla;
    font-size: size(14);
    font-weight: 700;
  }

  .icon {
    @include square(24);
    @include flex-center;
    overflow: hidden;
    @include transitionsall;
  }

  @include hover {
    .text {
      color: $primary;
    }

    .icon {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

.btn-blogseemore {
  @include flex-center-vert;
  gap: size(8);

  .text {
    color: $primary;
    font-family: $kohinoorbangla;
    font-size: size(14);
    font-weight: 700;
  }

  .icon {
    @include square(24);
    @include flex-center;
    overflow: hidden;
    @include transitionsall;

    svg {
      path {
        stroke: $primary;
      }
    }
  }

  @include hover {
    .text {
      color: $lightmoodtext;
    }

    .icon {
      svg {
        path {
          stroke: $lightmoodtext;
        }
      }
    }
  }
}

.btn-order {
  background: $primary;
  @include border(solid, 1, $primary);
  @include radius(8);
  overflow: hidden;
  @include flex-center-vert;
  gap: size(14);
  @include w100;
  height: size(46);

  .iconbg {
    position: relative;
    width: size(50);
    height: size(46);
    @include flex-center;
    overflow: hidden;

    .arricon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
  }

  .text {
    color: $white;
    font-family: $kohinoorbangla;
    font-size: size(14);
    font-weight: 700;
  }

  @include hover {
    background: $white;

    .iconbg {
      svg {
        path {
          fill: $primary;
          stroke: $primary;
        }
      }

      .arricon {
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }

    .text {
      color: $primary;
    }
  }
}

.btn-delete {
  @include flex-center-vert;
  gap: size(6);

  @include breakpoint(mobile768) {
    gap: size(8);
  }

  .icon {
    @include square(20);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(mobile768) {
      @include square(24);
    }
  }

  .text {
    color: $textplaceholder;
    font-size: size(12);
    font-weight: 400;

    @include breakpoint(mobile768) {
      font-size: size(14);
    }
  }

  @include hover {
    svg {
      path {
        fill: $primary;
      }
    }

    .text {
      color: $primary;
    }
  }
}

.btn-edit {
  @include flex-center-vert;
  gap: size(6);

  @include breakpoint(mobile768) {
    gap: size(8);
  }

  .icon {
    @include square(20);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(mobile768) {
      @include square(24);
    }
  }

  .text {
    color: $textplaceholder;
    font-size: size(12);
    font-weight: 400;

    @include breakpoint(mobile768) {
      font-size: size(14);
    }
  }

  @include hover {
    svg {
      path {
        stroke: $primary;
      }
    }

    .text {
      color: $primary;
    }
  }
}

.btn-add {
  color: $secondetitle;
  font-family: $inter;
  font-size: size(12);
  font-weight: 700;

  @include breakpoint(mobile768) {
    font-size: size(16);
  }

  @include hover {
    color: $primary;
  }
}

.btn-upload {
  @include setBgColor($white, $lightmoodtext);
  @include border(solid, 1, $uploadborder);
  @include radius(55);
  cursor: pointer;
  @include flex-center;
  font-size: size(12);
  font-weight: 400;
  padding: size(10) size(14);
  text-align: center;
  @include transitionsall;

  @include hover {
    @include setBgColor($lightmoodtext, $white);
    border-color: $lightmoodtext;
  }
}

.btn-editprofile {
  @include flex-center-vert;
  gap: size(8);

  .icon {
    @include square(24);
    @include flex-center;
    overflow: hidden;
    margin-top: size(-4);
  }

  .text {
    color: $textprice;
    font-size: size(14);
    font-weight: 400;
  }

  @include hover {
    .icon {
      svg {
        path {
          stroke: $primary;
        }
      }
    }

    .text {
      color: $primary;
    }
  }
}

.btn-print {
  background: $white;
  @include radius(13);
  width: size(50);
  height: size(46);
  @include flex-center;
  padding: size(11) size(13);
}

.btn-text {
  font-size: size(12);
  font-weight: 400;
  @include transitionscolor;

  &.viewprofile {
    color: $secondetitle;

    @include hover {
      color: $primary;
    }
  }

  &.openmap {
    color: $success;

    @include hover {
      color: $deliveredtext;
    }
  }
}

#btn-forgot {
  display: inline-block;
  text-align: left;
}

.btn-shopping {
  color: $secondetitle;
  font-size: size(14);
  font-weight: 500;

  @include breakpoint(tab992) {
    font-size: size(16);
  }

  @include hover {
    color: $primary;
  }
}

.btn-wish {
  @include flex-center-vert;
  gap: size(8);

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $lightmoodtext;
    font-size: size(14);
    font-weight: 400;
  }

  &:hover:not(.active) {
    .icon {
      svg {
        path {
          fill: $primary;
          stroke: $primary;
        }
      }
    }

    .text {
      color: $primary;
    }
  }

  &.active {
    .icon {
      svg {
        path {
          fill: $primary;
          stroke: $primary;
        }
      }
    }

    .text {
      color: $primary;
    }
  }
}

.btn-color {
  @include flex-center;
  @include square(32);

  .colorborder {
    background: $white;
    @include border(solid, 1, transparent);
    cursor: pointer;
    @include radius(6);
    @include square(32);
    @include flex-center;

    .colorbox {
      @include square(24);
      @include radius(6);
      overflow: hidden;
    }
  }

  &.active {
    .color-1 {
      border-color: $color-1;
    }

    .color-2 {
      border-color: $color-2;
    }

    .color-3 {
      border-color: $color-3;
    }

    .color-4 {
      border-color: $color-4;
    }

    .color-5 {
      border-color: $color-5;
    }

    .color-6 {
      border-color: $color-6;
    }
  }
}
