@use "../../global" as *;
@use "../../partials" as *;

.iconlist {
  @include list-horizontal;
  gap: size(8);

  &-link {
    @include square(24);
    @include flex-center;
    overflow: hidden;

    @include hover {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

.sociallist {
  @include list-horizontal;
  gap: size(16);
}

.footerlist {
  @include list-vertical;
  gap: size(24);

  &-link {
    color: $bg-color-dark;
    font-size: size(16);
    font-weight: 400;
    @include transitionscolor;

    @include hover {
      color: $primary;
    }
  }
}

.contactlist {
  @include list-vertical;
  gap: size(14);

  &-link {
    @include flex-center-vert;
    gap: size(10);

    .text {
      color: $textdark;
      font-size: size(16);
      font-weight: 600;
      @include transitionscolor;
    }

    @include hover {
      .text {
        color: $primary;
      }
    }
  }
}

.mobcategorylist {
  @include list-vertical;

  &-link {
    @include border-single(bottom, solid, 1, $authborder);
    @include flex-center-between;
    padding: size(12) size(16) size(12) size(24);
    @include transitionsall;

    .ctgtitle {
      color: $lightmoodtext;
      font-size: size(14);
      font-weight: 400;
    }

    .linkarrow {
      @include square(24);
      @include flex-center;
      overflow: hidden;
    }

    .linkinfo {
      @include flex-center-vert;
      gap: size(8);

      .usericon {
        @include square(16);
        @include flex-center;
        overflow: hidden;
      }
    }

    @include hover {
      border-color: $primary;

      .linkarrow {
        svg {
          path {
            stroke: $primary;
          }
        }
      }

      .ctgtitle {
        color: $primary;
      }

      .linkinfo {
        .usericon {
          svg {
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
  }
}

.filterlist {
  @include list-vertical;
  gap: size(16);
}

.desktopnav {
  background: rgba($white, 0.60);
  backdrop-filter: blur(size(2));
  @include radius(24);
  width: size(270);
  padding: size(16);
  min-height: size(408);
  max-height: size(410);
  overflow-x: hidden;

  @include breakpoint(desktop1600) {
    min-height: size(516);
    max-height: size(520);
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: size(8);
  }

  &::-webkit-scrollbar-thumb {
    @include radius(8);
  }
}

.desktoplist {
  @include list-vertical;
  gap: size(8);

  &-link {
    background: $white;
    @include radius(12);
    @include flex-center-between;
    padding: size(8);
    @include transitionsall;

    .icontext {
      @include flex-center-vert;
      gap: size(8);

      @include breakpoint(desktop1600) {
        gap: size(12);
      }

      .icon {
        @include square(32);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(desktop1600) {
          @include square(48);
        }
      }

      .text {
        color: $black;
        font-size: size(13);
        font-weight: 400;

        @include breakpoint(desktop1600) {
          font-size: size(15);
        }
      }
    }

    @include hover {
      background: $footerbg;
    }
  }
}

.accountlist {
  @include list-vertical;
  background: $white;
  @include border(solid, 1, rgba($black, 0.10));
  @include radius(20);
  overflow: hidden;

  &-link {
    @include setBgColor($white, $textplaceholder);
    @include border-single(bottom, solid, 1, rgba($black, 0.10));
    @include flex-center-vert;
    font-size: size(16);
    font-weight: 500;
    padding: size(16) size(24);
    @include transitionsall;

    @include breakpoint(desktop1400) {
      font-size: size(18);
    }

    &:hover:not(.active) {
      @include setBgColor($tableheadbg, $textprice);
    }

    &.active {
      @include setBgColor($tableheadbg, $textprice);
    }
  }

  &-item {
    &:last-of-type {
      .accountlist-link {
        border-bottom: 0;
      }
    }
  }
}