@use "../../global" as *;
@use "../../partials" as *;

.iconlist {
  @include list-horizontal;
  gap: size(8);

  &-link {
    @include square(24);
    @include flex-center;

    @include hover {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }

  .cartitem {
    .iconlist-link {
      position: relative;
  
      .cartcounter {
        @include flex-center;
        @include square(18);
        @include circle;
        position: absolute;
        top: size(-5);
        right: size(-8);
        @include setBgColor($primary, $white);
        font-size: size(9);
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

.sociallist {
  @include list-horizontal;
  gap: size(16);
}

.footerlist {
  @include list-vertical;
  gap: size(24);

  &-link {
    color: $bg-color-dark;
    font-size: size(16);
    font-weight: 400;
    @include transitionscolor;

    @include hover {
      color: $primary;
    }
  }
}

.contactlist {
  @include list-vertical;
  gap: size(14);

  &-link {
    @include flex-center-vert;
    gap: size(10);

    .text {
      color: $textdark;
      font-size: size(16);
      font-weight: 600;
      @include transitionscolor;
    }

    @include hover {
      .text {
        color: $primary;
      }
    }
  }
}

.mobcategorylist {
  @include list-vertical;

  &-link {
    @include border-single(bottom, solid, 1, $authborder);
    @include flex-center-between;
    padding: size(12) size(16) size(12) size(24);
    @include transitionsall;

    .ctgtitle {
      color: $lightmoodtext;
      font-size: size(14);
      font-weight: 400;
    }

    .linkarrow {
      @include square(24);
      @include flex-center;
      overflow: hidden;
    }

    .linkinfo {
      @include flex-center-vert;
      gap: size(8);

      .usericon {
        @include square(16);
        @include flex-center;
        overflow: hidden;
      }
    }

    @include hover {
      border-color: $primary;

      .linkarrow {
        svg {
          path {
            stroke: $primary;
          }
        }
      }

      .ctgtitle {
        color: $primary;
      }

      .linkinfo {
        .usericon {
          svg {
            path {
              stroke: $primary;
            }
          }
        }
      }
    }
  }

  .accordion {
    &-item {
      border: none;
      @include radius(0);

      &:first-of-type,
      &:last-of-type {
        .accordion-button {
          @include radius(0);
        }
      }
    }

    &-header {
      @include flex-center-vert;
      @include border-single(bottom, solid, 1, $authborder);
      padding: size(12) size(16) size(12) size(24);

      .categorylink {
        color: $lightmoodtext;
        font-size: size(14);
        font-weight: 400;
      }  
    }

    &-button {
      border: none;
      @include radius(0);
      box-shadow: none;
      outline: none;

      &:not(.collapsed) {
        border: none;
        @include radius(0);
        background: transparent;
        color: $black;
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.mobsubsublist {
  @include list-vertical;

  &-link {
    @include border-single(bottom, solid, 1, $authborder);
    color: $lightmoodtext;
    font-size: size(14);
    font-weight: 400;
    @include flex-center-between;
    padding: size(12) size(16) size(12) size(24);
    @include transitionsall;

    @include hover {
      border-color: $primary;
      color: $primary;
    }
  }
}

.filterlist {
  @include list-vertical;
  gap: size(16);
}

.desktopnav {
  background: rgba($white, 0.60);
  backdrop-filter: blur(size(2));
  @include radius(24);
  width: size(270);
  max-height: size(296);
  padding: size(16);
  position: relative;

  @include breakpoint(desktop1200) {
    min-height: size(408);
    max-height: size(410);
  }

  @include breakpoint(desktop1600) {
    min-height: size(516);
    max-height: size(520);
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: size(0);
  }

  &::-webkit-scrollbar-thumb {
    @include radius(8);
    width: size(0);
  }
}

.desktoplist {
  @include list-vertical;
  gap: size(8);

  &-link {
    background: $white;
    @include radius(12);
    @include flex-center-between;
    padding: size(8);
    @include transitionsall;

    .icontext {
      @include flex-center-vert;
      gap: size(8);

      @include breakpoint(desktop1600) {
        gap: size(12);
      }

      .icon {
        @include square(32);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(desktop1600) {
          @include square(48);
        }
      }

      .text {
        color: $black;
        font-size: size(13);
        font-weight: 400;

        @include breakpoint(desktop1600) {
          font-size: size(15);
        }
      }
    }

    @include hover {
      background: $footerbg;
    }
  }

  &-item {
    position: relative;

    @include hover {
      .menubox {
        display: block;
      }
    }
  }
}

.accountlist {
  @include list-vertical;
  background: $white;
  @include border(solid, 1, rgba($black, 0.10));
  @include radius(20);
  overflow: hidden;

  &-link {
    @include setBgColor($white, $textplaceholder);
    @include border-single(bottom, solid, 1, rgba($black, 0.10));
    @include flex-center-vert;
    font-size: size(16);
    font-weight: 500;
    padding: size(16) size(24);
    @include transitionsall;

    @include breakpoint(desktop1400) {
      font-size: size(18);
    }

    &:hover:not(.active) {
      @include setBgColor($tableheadbg, $textprice);
    }

    &.active {
      @include setBgColor($tableheadbg, $textprice);
    }
  }

  &-item {
    &:last-of-type {
      .accountlist-link {
        border-bottom: 0;
      }
    }
  }
}

.menubox {
  position: absolute;
  top: 0;
  right: -100%;
  @include w100;
  display: none;
  z-index: 100;

  .submenubox {
    position: absolute;
    top: 0;
    right: -100%;
    @include w100;
    display: none;
    z-index: 100;
  }
}

.submenu,
.subsubmenu {
  background: $white;
  z-index: 100;
  background: rgba($white, 0.60);
  backdrop-filter: blur(size(2));
  @include radius(24);
  padding: size(16);
  width: size(270);
}

.subctglist {
  max-height: size(296);
  padding: size(48);

  @include list-vertical;
  gap: size(8);

  &-link {
    background: $white;
    @include radius(12);
    @include flex-center-between;
    padding: size(8) size(16);
    @include transitionsall;
    height: size(48);

    .text {
      color: $black;
      font-size: size(13);
      font-weight: 400;

      @include breakpoint(desktop1600) {
        font-size: size(15);
      }
    }

    @include hover {
      background: $footerbg;
    }
  }
  
  &-item {
    position: relative;

    @include hover {
      .submenubox {
        display: block;
      }
    }
  }
}

.subsubctglist {
  max-height: size(296);
  padding: size(48);

  @include list-vertical;
  gap: size(8);

  &-link {
    background: $white;
    @include radius(12);
    @include flex-center-between;
    padding: size(8) size(16);
    color: $black;
    font-size: size(13);
    font-weight: 400;
    height: size(48);
    @include transitionsall;

    @include breakpoint(desktop1600) {
      font-size: size(15);
    }

    @include hover {
      background: $footerbg;
    }
  }
}