@use '../../global' as *;
@use '../../partials' as *;

input,
select,
textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

input[type='date']::before {
  content: attr(data-placeholder);
  @include w100;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

textarea {
  resize: none;
}

// HIDE INPUT ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;

  &:focus {
    outline: none;
  }
}

.form-control,
.form-select {
  &:focus {
    box-shadow: none;
    outline: none;
    // border-color: $secondary;
  }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  box-shadow: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.was-validated .form-control:valid {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.color {
  .colorinput {
    &.color-1 {
      &:checked {
        ~ .colorlabel {
          border-color: $color-1;
        }
      }
    }

    &.color-2 {
      &:checked {
        ~ .colorlabel {
          border-color: $color-2;
        }
      }
    }

    &.color-3 {
      &:checked {
        ~ .colorlabel {
          border-color: $color-3;
        }
      }
    }

    &.color-4 {
      &:checked {
        ~ .colorlabel {
          border-color: $color-4;
        }
      }
    }

    &.color-5 {
      &:checked {
        ~ .colorlabel {
          border-color: $color-5;
        }
      }
    }

    &.color-6 {
      &:checked {
        ~ .colorlabel {
          border-color: $color-6;
        }
      }
    }
  }

  .colorlabel {
    background: $white;
    @include border(solid, 1, transparent);
    cursor: pointer;
    @include radius(6);
    @include square(32);
    @include flex-center;

    .colorbox {
      @include square(24);
      @include radius(6);
      overflow: hidden;
    }
  }
}

.size {
  .sizeinput {
    &:checked ~ .sizelabel {
      color: $textprice;
      border-color: $textprice;
    }
  }

  .sizelabel {
    @include border(solid, 1, rgba($black, 0.10));
    @include radius(6);
    color: $lightmoodtext;
    cursor: pointer;
    @include flex-center;
    font-size: size(14);
    font-weight: 400;
    padding: size(11) size(16);
    text-align: center;

    @include breakpoint(tab992) {
      font-size: size(10);
      padding: size(8) size(10);
    }
  }
}