@use "../global" as *;
@use "../partials" as *;

.productdetail {
  &-content {
    @include flex-column;
    gap: size(24);
  }

  .breadcrumb {
    &-item {
      color: $textplaceholder;
      font-size: size(9);
      font-weight: 400;
      text-transform: uppercase;

      @include breakpoint(mobile768) {
        font-size: size(12);
      }

      @include breakpoint(tab992) {
        font-size: size(14);
      }
  
      a {
        color: inherit;
        font: inherit;
      }
  
      &:hover:not(.active) {
        color: $textdark;
        font-weight: 600;
      }
  
      &.active {
        color: $textdark;
        font-weight: 600;
      }
    }
  }

  .productslider {
    overflow: hidden;

    .topsliderthumb {
      cursor: pointer;
      @include wh100;
      @include radius(25);
      overflow: hidden;
      position: relative;

      img {
        @include wh100;
      }
  
      .productbadge {
        @include circle;
        @include flex-center;
        position: absolute;
        @include square(60);
        top: size(10);
        left: size(10);
        z-index: 100;
  
        @include breakpoint(mobile768) {
          @include square(104);
          top: size(20);
          left: size(20);
        }
      }
    }

    .smallthumb {
      cursor: pointer;
      @include radius(8);
      @include w100;
      height: size(48);
      @include flex-center;
      overflow: hidden;

      @include breakpoint(mobile768) {
        height: size(64);
      }

      @include breakpoint(tab992) {
        height: size(94);
      }

      img {
        @include wh100;
      }
    }

    .gallery-thumbs {
      .swiper-slide {
        opacity: 0.2;
        @include transitionsall;

        &:hover:not(.swiper-slide-active) {
          opacity: 1;
        }
      }

      .swiper-slide-active {
        opacity: 1;
      }
    }
  }
}

.productinfos {
  .titleinfo {
    @include flex-column;
    gap: size(16);
    margin-bottom: size(16);

    @include breakpoint(tab992) {
      margin-bottom: size(24);
    }

    .producttitle {
      color: $bg-color-dark;
      font-family: $inter;
      font-size: size(20);
      font-weight: 700;
      @include text-overflow;

      @include breakpoint(tab992) {
        font-size: size(30);
      }
    }

    .info {
      @include flex-column;
      gap: size(12);

      .text,
      .modeltitle,
      .productmodel {
        font-size: size(12);
        font-weight: 500;

        @include breakpoint(tab992) {
          font-size: size(14);
        }
      }

      .text {
        color: $lightmoodtext;
        font-weight: 400;
      }

      .modeltitle {
        color: $textplaceholder;
      }

      .productmodel {
        color: $textprice;
      }
    }
  }

  .productprices {
    @include flex-center-vert;
    gap: size(8);
    margin-bottom: size(16);

    @include breakpoint(tab992) {
      gap: size(12);
      margin-bottom: size(24);
    }

    .previousprice {
      color: $lightmoodtext;
      font-family: $kalpurush;
      font-size: size(16);
      font-weight: 400;
      text-decoration: line-through;
      text-decoration-color: $primary;

      @include breakpoint(tab992) {
        font-size: size(24);
      }
    }

    .currentprice {
      color: $textdark;
      font-family: $kalpurush;
      font-size: size(20);
      font-weight: 400;

      @include breakpoint(tab992) {
        font-size: size(32);
      }
    }
  }

  .productcolors {
    @include flex-column;
    gap: size(4);
    margin-bottom: size(24);

    @include breakpoint(tab992) {
      gap: size(8);
    }

    &-header {
      .colortitle {
        color: $textplaceholder;
        font-size: size(12);
        font-weight: 400;

        @include breakpoint(tab992) {
          font-size: size(16);
        }
      }
    }

    &-body {
      @include flex-center-vert;
      gap: size(8);
    }
  }

  .productsizes {
    @include flex-column;
    gap: size(4);
    margin-bottom: size(24);
  
    @include breakpoint(tab992) {
      gap: size(8);
    }
  
    &-header {
      .sizetitle {
        color: $textplaceholder;
        font-size: size(12);
        font-weight: 400;
  
        @include breakpoint(tab992) {
          font-size: size(16);
        }
      }
    }
  
    &-body {
      .sizelist {
        @include flex-column;
        gap: size(8);
        
        @include breakpoint(mobile768) {
          gap: size(4);
        }
      }
    }
  }

  .quantityincrements {
    @include flex-column;
    gap: size(4);
    margin-bottom: size(24);
  
    @include breakpoint(tab992) {
      gap: size(8);
    }

    &-header {
      @include flex-center-vert;
      gap: size(5);

      .title {
        color: $textplaceholder;
        font-size: size(16);
        font-weight: 400;
      }

      .stock {
        color: $success;
        font-size: size(14);
        font-weight: 400;
      }
    }
  }

  .actions {
    @include flex-column;
    gap: size(10);
    align-items: flex-start;

    &-header {
      @include flex-center-vert;
      gap: size(10);
    }
  }
}

.formcounter {
  background: $white;
  @include border(solid, 1, rgba($black, 0.1));
  @include radius(8);
  @include flex-center-vert;
  max-width: size(120);
  overflow: hidden;
  padding: size(4);

  .inputfield {
    color: $textdark;
    width: calc(100% - size(48));
    font-family: $inter;
    font-size: size(14);
    font-weight: 500;
    padding-inline: size(5);
    text-align: center;
  }

  button {
    background: $inputbg;
    @include radius(5);
    @include flex-center;
    @include square(24);
    padding: size(8);

    &.btn-decrement {
      @include hover {
        background: $primary;
  
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  
    &.btn-increment {
      @include hover {
        background: $success;
  
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

.productdetailcards {
  padding: size(32) 0;

  @include breakpoint(tab992) {
    padding: size(64) 0;
  }
}

.productdetailcard {
  background: $inputbg;
  @include radius(13);
  @include flex-center-vert;
  gap: size(12);
  padding: size(12) size(20);

  @include breakpoint(tab992) {
    padding: size(12);
  }

  .icon {
    background: $white;
    @include flex-center;
    @include square(64);
    @include radius(16);
    padding: size(16);

    @include breakpoint(tab992) {
      @include square(48);
      padding: size(10);
    }
  }

  .title {
    color: $textplaceholder;
    width: calc(100% - size(64));
    font-size: size(16);
    font-weight: 500;

    @include breakpoint(tab992) {
      width: calc(100% - size(48));
      font-size: size(14);
    }
  }
}

.specifications {
  .nav-tabs {
    background: $tableheadbg;
    border: none;
    @include radius(0);
    @include border-single(bottom, solid, 1, $tableheadborder);
    @include double-radius(top, left, 32, top, right, 32);
    flex-wrap: nowrap;
    gap: size(10);
    padding-inline: size(14);

    @include breakpoint(mobile768) {
      gap: size(16);
      padding-inline: size(32);
    }

    @include breakpoint(tab992) {
      padding-inline: size(32);
    }

    @include breakpoint(desktop1200) {
      gap: size(64);
    }

    .nav-link {
      margin: 0;
      border: 0;
      @include setBgColor(transparent, $secondetitle);
      @include border-single(bottom, solid, 4, transparent);
      @include flex-center-vert;
      font-size: size(9);
      font-weight: 700;
      padding: size(12) 0;

      @include breakpoint(mobile576) {
        font-size: size(10);
      }

      @include breakpoint(mobile768) {
        font-size: size(14);
        padding: size(14) 0;
      }

      @include breakpoint(tab992) {
        font-size: size(16);
      }

      &.active {
        border-color: $textprice;
        color: $textprice;
      }
    }
  }

  .contentbox {
    @include border(solid, 1, $tableheadborder);
    border-top: 0;
    @include double-radius(bottom, left, 32, bottom, right, 32);
    padding: size(32) size(16);
    @include flex-column;
    gap: size(14);

    @include breakpoint(tab992) {
      padding: size(32) size(40);
    }

    &-header {
      .title {
        color: $secondetitle;
        font-size: size(18);
        font-weight: 500;

        @include breakpoint(mobile768) {
          font-size: size(20);
        }

        @include breakpoint(tab992) {
          font-size: size(24);
        }
      }
    }

    &-body {
      .specificationlist {
        padding: 0;
        padding-left: size(16);

        &-item {
          color: $lightmoodtext;
          font-size: size(14);
          font-weight: 400;
        }
      }

      .mydescription {
        @include flex-column;
        gap: size(32);

        @include breakpoint(mobile768) {
          gap: size(48);
        }

        &-header {
          @include flex-column;
          gap: size(16);

          @include breakpoint(mobile768) {
            gap: size(24);
          }

          .info {
            max-width: size(714);

            .text {
              color: $textplaceholder;
              font-size: size(14);
              font-weight: 400;
            }
          }

          .videobox {
            @include w100;
            height: size(192);
            @include flex-center;
            overflow: hidden;

            @include breakpoint(mobile768) {
              height: size(430);
            }

            iframe,
            img {
              @include wh100;
            }
          }
        }

        &-body {
          @include flex-column;
          gap: size(16);

          .title {
            color: $black;
            font-size: size(16);
            font-weight: 500;
          }

          .descriptlist {
            padding: 0;
            padding-left: size(16);
          
            &-item {
              color: $textplaceholder;
              font-size: size(14);
              font-weight: 400;
              line-height: 1.7;
            }
          }
        }
      }

      .sizechart-thumb {
        @include wh100;
        @include flex-center;
        overflow: hidden;

        img {
          @include wh100;
        }
      }

      .feedbacklist {
        @include flex-column;
        gap: size(20);
      }
    }
  }

  .relatedproducts {
    @include flex-column;
    gap: size(16);

    &-header {
      .title {
        color: $textdark;
        font-size: size(18);
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(16);
    }
  }
}