@use "../../global" as *;
@use "../../partials" as *;

.searchform {
  @include border(solid, 1, $primary);
  @include radius(8);
  @include flex-center-vert;
  overflow: hidden;

  @include breakpoint(desktop1200) {
    min-width: size(400);
  }

  .searchfield {
    @include setBgColor(transparent, $bg-color-dark);
    padding: size(12.5) size(0) size(12.5) size(12.5);
    font-size: size(14);
    font-weight: 400;
    width: calc(100% - size(46));

    &::placeholder {
      color: $secondetitle;
    }
  }

  .btn-search {
    @include square(46);
    @include flex-center;
    overflow: hidden;
    padding: size(12);
  }
}

.feedbackform {
  @include flex-column;
  gap: size(16);

  .feedbackbox {
    @include flex-column;
    gap: size(8);

    .feedbacklabel {
      font-size: size(12);
      color: $black;
      font-weight: 500;

      @include breakpoint(desktop1200) {
        font-size: size(16);
      }
    }

    .feedbackinput {
      @include setBgColor(rgba($feedbackinptubg, 0.10), $black);
      @include border(solid, 1, rgba($black, 0.10));
      @include radius(8);
      font-size: size(14);
      color: $black;
      font-weight: 400;
      padding: size(16);

      @include breakpoint(desktop1200) {
        font-size: size(16);
      }
    }
  }

  .submitfeedbackbox {
    @include flex-end;

    .btn-submit {
      font-size: size(12);
      font-weight: 600;

      @include breakpoint(desktop1200) {
        font-size: size(16);
      }
    }
  }
}